name: BuildNightly
on:
  schedule:
    - cron: '30 5 * * *'
  workflow_dispatch:
env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release
  TAG: v.1.0.7

jobs:
  build:
    # The CMake configure and build commands are platform agnostic and should work equally well on Windows or Mac.
    # You can convert this to a matrix build if you need cross-platform coverage.
    # See: https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Configure CMake
      # Configure CMake in a 'build' subdirectory. `CMAKE_BUILD_TYPE` is only required if you are using a single-configuration generator such as make.
      # See https://cmake.org/cmake/help/latest/variable/CMAKE_BUILD_TYPE.html?highlight=cmake_build_type
      run: |
        cd VecMathREPLCpp
        cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}

    - name: Build
      # Build your program with the given configuration
      run: |
        cd VecMathREPLCpp
        cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}
        tar -czvf VecMathREPL_Linux_Nightly.tar.gz ${{github.workspace}}/build/vecmathmain/VecMathMain ${{github.workspace}}/build/vecmathmain/resources
    - name: Upload binaries to release
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: ${{github.workspace}}/VecMathREPL.tar.gz
        asset_name: VecMathREPL
        tag: nightly
        overwrite: true
        body: "Test building and uploading the linux release build."

